main{
    text-align: center;
    padding-top: 50px;
    position: relative;
    margin-top: 200px;
}

label{
    color: aliceblue;
    margin-top: 20px;
    display: block;
}

.slider{
    height:40px;
    border: 2px solid red;
    border-radius: 20px;
}

.thumb{
    background-color: red;
    cursor: pointer;
    width:20px;
    height:40px;
    border-radius: 20px;
}

.slider.green{
    height:40px;
    border: 2px solid green;
    border-radius: 20px;
    margin-bottom: 20px;
}

.thumb.green{
    background-color: green;
    cursor: pointer;
    width:20px;
    height:40px;
    border-radius: 20px;
}

button{
    width:70px;
    margin-top:10px;
}

.back{
    position: fixed;
    /* bottom:-50; */
    right:600px;
    top:530px;  
    width:70px;
}